bin/
obj/
.idea/
.vs/
.vscode/

appsettings.Development.json
appsettings.Production.json
appsettings.Local.json

logs/

*.sqlite
*.user
*.suo
*.userosscache
*.sln.docstates
*.dotnet/
*.publish/
packages/
.idea/
node_modules/
.nuget/
global-tools/

Database/SQLIte/*
